{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}

<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
        <a aria-controls="personnel" aria-selected="true" class="nav-link active" data-toggle="tab" href="#personnel"
           id="personnel-tab" role="tab">Personnel</a>
    </li>
    <li class="nav-item">
        <a aria-controls="costs" aria-selected="false" class="nav-link" data-toggle="tab" href="#costs" id="costs-tab"
           role="tab">Costs</a>
    </li>
</ul>
<div class="tab-content" id="myTabContent">
    <div aria-labelledby="personnel-tab" class="tab-pane fade in active" id="personnel" role="tabpanel">
        </br>
        <h1>Add Personnel Forecast</h1>
        <div class="row">
            <div class="col-md-4">
                {{ wtf.quick_form(form_p) }}
            </div>
        </div>
    </div>
    <div aria-labelledby="costs-tab" class="tab-pane fade" id="costs" role="tabpanel">
        </br>
        <h1>Add Cost Forecast</h1>
        <div class="row">
            <div class="col-md-4">
                {{ wtf.quick_form(form_c) }}
            </div>
        </div></div>
</div>


{% endblock %}

{% block scripts %}
{{ super() }}
<head>
    <meta charset="utf-8">
    <link href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" rel="stylesheet">
    <script src="http://code.jquery.com/jquery-latest.js" type="text/javascript"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.js" type="text/javascript"></script>
</head>
<script>
    $(function() {
    $.ajax({
        url: '{{ url_for("main.autocomplete", item='project') }}'
        }).done(function (data) {
            $('#project_autocomplete').autocomplete({
                source: data,
                minLength: 2
            });
        });
    });
    $(function() {
    $.ajax({
        url: '{{ url_for("main.autocomplete", item='project') }}'
        }).done(function (data) {
            $('#project_cost').autocomplete({
                source: data,
                minLength: 2
            });
        });
    });
    $(function() {
    $.ajax({
        url: '{{ url_for("main.autocomplete", item='employee') }}'
        }).done(function (data) {
            $('#employee_autocomplete').autocomplete({
                source: data,
                minLength: 2
            });
        });
    });

</script>
{% endblock %}